{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Your Watchlist</h2>
  <ul class="list-group">
    {% for listing in watchlist_items %}
      <li class="list-group-item">
        <a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a>
        <p>{{ listing.description }}</p>
        <p>Current Price: ${{ listing.current_price }}</p>
        {% if listing.image_url %}
          <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="img-fluid">
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item">Your watchlist is empty.</li>
    {% endfor %}
  </ul>
{% endblock %}
